body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./bg.jpg");
  color: white;
  font-size: large;
  font-family: "FangSong";
  font-weight: bold;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  margin-top: 10px;
}
#time {
  margin-left: 16px;
}
#typeBox {
  width: 466px;
}
